<div class="container">

    <div class="border border-primary justify-content-center">
    <h2> Wines tasted (never entered the cellar) </h2>
    </div>

    <div class="border border-danger">
            <table class="table-sm table-striped table-hover">
            <thead>
                <tr>
                <th scope="col"> Wines </th>
                <th scope="col"> Vintages </th>
                <th scope="col"> Tasted </th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>  DRC Romanee Conti</td>
                        <td>  2009, 2010, 2011, 2012, 2014, 2015</td>
                        <td> n bottles, y tasting notes </td>
                    </tr>
                        <td>  </td>
            </tbody>
            </table>
        </div>

    <div class="border border-primary justify-content-center">
    <h2> Wines which have left the cellar </h2>
    </div>

    <div class="border border-danger">
            <table class="table-sm table-striped table-hover">
            <thead>
                <tr>
                <th scope="col"> Wines </th>
                <th scope="col"> Vintages </th>
                <th scope="col"> Tasted </th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                    </tr>
                        <td>  </td>
            </tbody>
            </table>
        </div>

</div>